.title{
    p::after{
        
            position: absolute;
            content: '';
            height: 40px;
            width: 20px;
            background-color: #991b1b;
            left: 0;
            bottom: 0px;
            border-radius: 5px;
    }
}