<footer class="w-full p-6 flex justify-center items-center flex-wrap ">
    <div class=" container p-4 grid   lg:grid-cols-4 sm:grid-cols-2">
        <div class="footer-col text-center mb-12 sm:mb-8 md:mb-8 lg:mb-0 lg:text-start md:text-center sm:text-center">
            <h5 class="font-bold mb-5">Exclusive</h5>
            <p class="subscribe font-medium mb-3">Subscribe</p>
            <p class="offer mb-8">Get 10% off your first order</p>
            <div class="footer-input ">
                <input class="p-2 rounded border-slate-50 text-slate-300 mb-3 " type="text"
                    placeholder="Enter your email " />
                    <button class="px-3 py-2 rounded-lg ms-2 border-[2px] bg-white text-black">Send</button>
            </div>
        </div>
        <div class="footer-col text-center mb-12 sm:mb-8 md:mb-8 lg:mb-0 lg:text-start md:text-center sm:text-center">
            <h5 class="font-bold mb-5">Support</h5>
            <p class="offer mb-4">Maadi,Cairo,Egypt</p>
            <p class="offer mb-4">exclusive&#64;gmail.com</p>
            <p>+88015-88888-9999</p>


        </div>
        <div class="footer-col text-center mb-12 lg:text-start md:text-center sm:text-center sm:mb-8 md:mb-8 lg:mb-0">
            <h5 class="font-bold mb-5">Account</h5>
            <p routerLink="/home" class="account mb-4 transition-all hover:text-red-800 ">My Account</p>
            <p routerLink="/login" class="account mb-4 transition-all hover:text-red-800 ">Login / Register</p>
            <p routerLink="/cart" class="account mb-4 transition-all hover:text-red-800">Cart</p>
            <p routerLink="/checkout" class="account mb-4 transition-all hover:text-red-800">Check Out</p>
            <p routerLink="/home" class="account mb-4 transition-all hover:text-red-800 ">Shop</p>

        </div>
        <div class="footer-col text-center mb-12 lg:text-start md:text-center sm:text-center sm:mb-8 md:mb-8 lg:mb-0">
            <h5 class="font-bold mb-5">Download App</h5>
            <p class="footer-app mb-4">Save $3 with App New User Only</p>
            <div class="download ">
                <a href="https://www.apple.com/eg-ar/app-store/"><img class="sm:w-[50%] w-[25%]  text-center mx-auto lg:m-0" src="images/get-apple-store.png" alt="playstore"></a>
                <a href="https://play.google.com/store/games?device=windows&pli=1"><img class="lg:m-0 mx-auto sm:w-[50%] w-[25%]  text-center" src="images/get-google-play.png" alt="playstore"></a>
            </div>
            <div class="footer-icons my-7 ">
                <a href="https://www.facebook.com/login.php/" title="Facebook"><span class="me-7 transition-all hover:text-red-800"><i class="fa-brands fa-facebook-f"></i></span></a>
                <a href="https://www.instagram.com/accounts/login/?hl=ar" title="Instagram"><span class="me-7 transition-all hover:text-red-800"><i class="fa-brands fa-instagram"></i></span></a>
                <a href="https://x.com/i/flow/login" title="Twitter"><span class="me-7 transition-all hover:text-red-800"><i class="fa-brands fa-x-twitter"></i></span></a>
                <a href="https://www.linkedin.com/feed/" title="LinkedIn"><span class="me-7 transition-all hover:text-red-800"><i class="fa-brands fa-linkedin-in"></i></span></a>
            </div>
        </div>


    </div>
    <p class="copy-right text-center" > <i class="fa-regular fa-copyright me-3"></i> Copyright karem 2025. All right reserved</p>
</footer>